# Builds a users catalog

name: Build catalog

on:
  push:
    branches: main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      # Uses Python to construct the query and parameterize JavaScripts
      - name: Setup Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"
      - name: Construct query and add to JavaScript
        run: |
          python main.py
      # Commits the changes to the repository
      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add ./public/pasta.js
          git add README.md
          git diff-index --quiet HEAD || git commit -m "Configure ezCatalog"
      # Pushes the changes to the repository
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          
